body
  margin: 0
  padding: 0
  font-family: 'Fira Sans', sans-serif
  letter-spacing: .30px
  color: rgba(49, 58, 59, 0.75)
  font-weight: 300 !important
  font-style: normal

p
  font-size: 1em

.t-stroke
  -webkit-text-stroke-width: 0.8px
  -moz-text-stroke-width: 0.8px
  -webkit-text-stroke-color: #ffffff
  -moz-text-stroke-color: #ffffff
  color: transparent

.t-shadow
  text-shadow: 4px 4px 0px #555e9e9e

.home-section
  background: #292d45
  color: white

#viewsite
  padding: 10px
  margin: 3%
  display: inline-block

.introgrid
  display: inline-block
  margin: 0

  &:hover
    box-shadow: 1px 1px 3px 0px #292d4146
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    -o-border-radius: 50%

.jss10
  color: #fff
  background-color: #292d45 !important

.introgrid
  max-height: auto
  display: inline-block

#introgridc
  line-height: 0px !important

#boxAdj
  width: 100%
  margin-bottom: 15px

.top
  display: flex
  align-items: center
  justify-content: center
  
.topmarb
  // padding: 0%;
  // margin-bottom: 0px !important;
  // display: flex;
  // bottom: 0;
  // flex-direction: column;
  background-size: auto
  background: url('https://res.cloudinary.com/diuubtvqd/image/upload/v1572459480/toplayer-marble.png')

h1
  font-family: 'Source Sans Pro', sans-serif
  font-size: 4.8em !important
  color: #2a2e43

h2, h3
  color: #2a2e43

h2
  text-transform: uppercase
  letter-spacing: 2px
  font-size: 1em
  margin-bottom: 0 !important
  margin-top: 10px !important

.img1
  position: relative
  margin-top: 20px

.img2
  position: absolute
  margin-bottom: 50px

.container_9tizg4
  background: rgba(140, 140, 140, 0.72) !important

.MuiPaper-root-93, .MuiPaper-elevation4-99, .MuiAppBar-root-85, .MuiAppBar-positionFixed-86, .MuiAppBar-colorPrimary-91, .MuiButton-containedPrimary-997, .MuiButton-containedPrimary-75, .MuiButton-containedPrimary-143, .MuiAppBar, .jss91
  background-color: #292d45 !important

#tn
  max-height: 300px
  margin: 3px
  align-content: top
  flex-wrap: wrap
  justify-content: space-around
  overflow: hidden
  display: inline-block
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased

.align-center
  text-align: center

.para-items
  display: flex
  align-items: center
  justify-content: center

#nav
  position: fixed

.MuiAppBar-colorPrimary-10, .MuiAppBar-colorPrimary-13, .MuiToolbar-root-236 MuiToolbar-gutters-237, .MuiToolbar
  background-color: #292d45 !important

#logo
  max-height: 60px
  padding: 4px
  justify-content: center
  margin-top: 5px

.MuiCardContent
  padding: 10px !important

#section2
  color: #c4d3db
  background-color: #292d41

#icons
  padding: 5px
  margin: 0 auto
  align-items: center

#header-icons
  border-color: #292d45
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px

#prev
  padding: 10px
  max-width: 98%
  justify-content: center

.SingleLineGridList-root-92
  background-color: transparent

.work-items
  text-transform: uppercase
  letter-spacing: 2px
  font-size: .9em

#galimg
  max-width: 100%
  height: auto
  padding-top: 36px
  margin: 5 auto
  justify-content: center
  align-content: center
  display: block

.citybg
  height: 100%

#lake
  width: 100%
  padding: 0%
  display: flex !important
  flex-direction: column !important

.custom-hr
  display: block
  border: none
  width: 40%
  margin: 0 auto
  background-color: 0%
  height: 1px
  margin-bottom: 2%
  background: gray
  background: -webkit-gradient(radial, 50% 50%, 0, 40% 50%, 350, from(gray), to(transparent))

.hr-nav
  margin-top: 1px
  background: #616985
  display: block
  height: .9px
  border: none
  background: -webkit-gradient(radial, 50% 50%, 0, 40% 50%, 350, from(#616985), to(transparent))

/* LAYOUT

.pull-right
  display: flex
  justify-content: flex-end

#block
  min-height: 5vh

html
  height: 100%

body
  min-height: 100%
  display: grid
  grid-template-rows: 1fr auto

.h1
  margin-top: 10px !important
  margin-bottom: 20px !important

li
  text-decoration: none
  list-style: none

a, .MuiButton-textPrimary-533
  color: #6eb6df !important
  text-decoration: none
  transition: 0.3s

.ui.dropdown .menu
  padding: 15px !important
  border-radius: none
  margin: 20px !important

a:hover
  color: #fff

#footer
  a:visited
    color: #6eb6df
#header
  margin: 12%
  font-size: 11em
  color: #2a2e43
  font-weight: 900
  font-family: 'Biryani', sans-serif
  height: 60%
  line-height: 1em !important
  font-weight: 810 !important
  padding: 20px

.Aligner-item
  max-width: 50%

.top
  display: flex
  align-items: center
  justify-content: center

.Aligner-item--top
  align-self: flex-start
  min-height: 300px

.Aligner-item--bottom
  align-self: flex-end

#profile
  padding: 0%
  margin-left: -8%
  margin-bottom: 0px !important
  display: flex
  bottom: 0
  flex-direction: column

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px)
  #header
    font-size: 5em
    margin: 5%
    margin-top: 10vh

  .Aligner-item
    max-width: 100%

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px)
  #header
    font-size: 5em
    margin: 5%
    margin-top: 10vh

  .Aligner-item
    max-width: 100%

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px)
  #header
    margin: 10%
    font-size: 10em

  .Aligner-item
    max-width: 80%

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px)
  #header
    font-size: 11em
    margin: 10%

  .Aligner-item
    max-width: 80%

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px)
  #header
    font-size: 12em
    margin: 10%

  .Aligner-item
    max-width: 80%
  /* margin-top: var( — space);
  background-color: #434b58
  padding-bottom: 10px
  color: #b6d5e5
  grid-row-start: 2
  grid-row-end: 3
  margin-top: 90px

.container
  padding: 20px !important

/* ZOOM

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0

.introgrid
  img
    -moz-transition: all 0.3s
    -webkit-transition: all 0.3s
    transition: all 0.3s

  &:hover img
    -moz-transform: scale(1.1)
    -webkit-transform: scale(1.1)
    transform: scale(1.1)

@media only screen and (min-width: 400px) and (max-width: 1024px)
  #prev, #galimg
    max-width: 90%

  #wf
    width: 90%
    padding: 10px

  .img1
    margin-top: 5px
    height: 80%
    width: auto

  .introgrid
    min-width: 40vw
    max-height: auto

  #galimg
    min-height: 30%

@media only screen and (min-width: 320px) and (max-width: 400px)
  #prev
    max-width: 30%

  .img2
    margin-bottom: 900px
    padding-bottom: 900px

  #wf
    width: 98%
    padding: 5px

  #galimg
    min-height: 60%

  .viewitem
    max-width: 70vw

  .introgrid
    align-content: center
    min-width: 50vw
    max-height: auto