@import url(https://fonts.googleapis.com/css?family=Poppins:Bold|Lato|Assistant:700&display=swap)  
$font-header: 'Poppins', sans-serif
$font-body: 'Lato', sans-serif
$font-second: 'Assistant', sans-serif
$dark-color: #2a2e43
$primary-color: #6eb6df
  
body
  margin: 0
  padding: 0
  font-family: $font-body
  letter-spacing: .30px
  color: $dark-color
  font-weight: 300 !important
  font-style: normal

p
  font-size: 1em
  line-height: 1.3em
  margin-bottom: 20px

h2, h3 
  text-transform: uppercase
  line-height: 1.3em

h2
  font-size: 2em
  letter-spacing: 2px
  font-family: $font-second
  color: $primary-color

h3 
  font-size: 1.2em !important
  font-spacing: 3px
  font-family: $font-second !important

h1
  font-family: $font-header
  font-size: 3em !important
  color: $dark-color
  text-transform: uppercase
  line-height: 1
  letter-spacing: 2px

html
  height: 100%

body
  min-height: 100%
  display: grid
  grid-template-rows: 1fr auto

.modal
  position: fixed
  top: 12px
  padding: 12px
  background-color: white
  border: 1px solid grey

.intro
  padding: 10px 
  margin-top: 15px

.introblob
  position: absolute
  left: -40%

.titlecontain
  border-style: solid
  border-width: 7px
  padding: 10px
  color: $dark-color
  text-align: center
  position: absolute
  border-color: $dark-color !important
  top: 50%
  left: 50%
  width: 30%
  transform: translate(-50%, -50%)

.containh1
  font-family: $font-header
  font-size: 6.5em !important
  color: $dark-color
  text-transform: uppercase
  line-height: 1
  letter-spacing: 2px

.introh2
  font-family: $font-second
  font-size: 1.4em !important
  letter-spacing: 1.8px
  color: $dark-color

.header-title
  font-size: 8.2em !important
  color: #eee
  text-transform: uppercase
  font-weight: 900
  font-family: $font-header

.extra-top
  margin-top: 5%

.extra-bottom
  margin-bottom: 5%

.marbfront
  background: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1572981281/toplayer-marble.png)
  height: 100%
  width: 100vw
  background-size: contain
  background-position: bottom
  background-repeat: no-repeat
  -webkit-transition: width 2s
  transition: width 2s

.t-stroke
  -webkit-text-stroke-width: 3px
  -moz-text-stroke-width: 2px
  -webkit-text-stroke-color: #ffffff
  -moz-text-stroke-color: #ffffff
  color: transparent

.t-shadow
  text-shadow: 4px 4px 0px #2d356b6c

.home-section
  background: #292d45
  color: #eee


#viewsite
  padding: 10px
  margin: 3%
  display: inline-block

.introgrid
  display: inline-block
  margin: 0

  &:hover
    box-shadow: 1px 1px 3px 0px #292d4146
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    -o-border-radius: 50%
    -webkit-transition: border-radius .5s
    transition: border-radius .5s

.jss10
  color: #fff
  background-color: $dark-color !important

.casegal
  height: 400px
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-blend-mode: normal
  padding: 10px

  .label 
    text-transform: uppercase
    color: $dark-color
    letter-spacing: 1.5px
    text-align: center

.web
  background-color: $primary-color
  background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573844888/webhover.png)
  -webkit-transition: background-image .6s
  transition: background-image .6s

  &:hover
    background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573844888/machover.png)
    -webkit-transition: background-image .6s
    transition: background-image .6s

.camp
  background-color: lightblue
  background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573842921/camp.png)
  -webkit-transition: background-image .2s
  transition: background-image .2s

  &:hover
    background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573841882/adshover.png)
    -webkit-transition: background-image .2s
    transition: background-image .2s

.ux
  background-color: #fbc481
  background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573835461/uxcase.png)
  -webkit-transition: background-image .6s
  transition: background-image .6s

  &:hover
    background-image: url(https://res.cloudinary.com/diuubtvqd/image/upload/v1573835461/uxcase-hover.png)
    -webkit-transition: background-image .6s
    transition: background-image .6s

#introgridc
  line-height: 0px !important

#boxAdj
  width: 100%
  margin-bottom: 15px

.top
  display: flex
  align-items: center
  justify-content: center
  background-size: 1500px

.test 
  position: relative
  bottom: -4%
  width: 100%


.align-center
  text-align: center

.para-items
  display: flex
  align-items: center
  justify-content: center

#logo
  max-height: 60px
  padding: 4px
  justify-content: center
  margin-top: 5px

#section2
  color: #c4d3db
  background-color: #292d41

#icons
  padding: 5px
  margin: 0 auto
  align-items: center

#header-icons
  border-color: #292d45
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px

#prev
  padding: 10px
  max-width: 98%
  justify-content: center

.work-items
  text-transform: uppercase
  letter-spacing: 2px
  font-size: .9em

.custom-hr
  display: block
  border: none
  width: 40%
  margin: 0 auto
  background-color: 0%
  height: 1px
  margin-bottom: 2%
  background: gray
  background: -webkit-gradient(radial, 50% 50%, 0, 40% 50%, 350, from(gray), to(transparent))

.hr-nav
  margin-top: 1px
  background: #616985
  display: block
  height: .9px
  border: none
  background: -webkit-gradient(radial, 50% 50%, 0, 40% 50%, 350, from(#616985), to(transparent))

/* LAYOUT

#block
  min-height: 5vh


li
  text-decoration: none
  list-style: none


.ui.dropdown .menu
  padding: 15px !important
  border-radius: none
  margin: 20px !important

a:hover
  color: #fff

#footer
  a:visited
    color: #6eb6df

.Aligner-item
  max-width: 50%

#profile
  padding: 0%
  margin-left: -8%
  margin-bottom: 0px !important
  display: flex
  bottom: 0
  flex-direction: column
  
$phone: "(min-width: 320px) and (max-width: 600px)"
$tablet: "(min-width: 600px) and (max-width: 1050px)"
$desktop: "(min-width: 1025px) and (max-width: 1800px)"

@media #{$phone}
  .header-title
    font-size: 4em !important

  .titlecontain
    width: 70vw
    position: absolute
    left: 23%

  .marbfront
    width: 1000px
    background-size: 1200px

@media #{$tablet} 
  .header-title
    font-size: 6.8em !important

  .titlecontain
    width: 55%
    left: 30%

// @media #{$desktop} 
//   .titlecontain

