html
  height: 100%

body
    position:relative
    padding-bottom:[footer-height] 

.footer
    position: absolute
    left: 0 ; right: 0; bottom: 0
    height:[footer-height] 

*
  box-sizing: border-box

body
  margin: 0
  font: 16px Sans-Serif

.logo-elr 
  padding: 14px
  width: fit-content
.case-thumb
  width: 100px;
  height: auto
  
.content
  margin-top: 0px
  marign-bottom: 0px
  
.add-centering
  text-align: center

.custom-footer
  color: gray
  padding: 20px

.fixed
  position: fixed
 
  