html
  height: 100%

body
    position:relative
    padding-bottom:[footer-height] 

.content
  min-height: 300px

.footer
    position: absolute
    left: 0 ; right: 0; bottom: 0
    height:[footer-height] 

*
  box-sizing: border-box

body
  margin: 0
  font: 16px Sans-Serif


.footer
  background: #42A5F5
  color: white
  padding: 20px

  .fixed
    position: fixed
  